{% extends 'uniMisJuegosBundle::layout.html.twig' %}

{% block central %} 
    <h1>juego edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('juego') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
